*{
    padding: 0;
    margin: 0;/*
    font-family: 'Pridi', serif;*/
}

a{
    text-decoration: none;
}

.main_secction{
    max-width: 100vw;
    min-width: 320px;
    height:auto;
    display: flex;
    flex-direction: column;
}

.first_secction_main{
    min-width: 100%;
    max-height: 110vh;
    display: flex;
    flex-direction: column-reverse;
    min-width: 320px;
    /*position: relative;*/
    background-image:url(sources/images/BackgroundS1.png);
    background-repeat: no-repeat;
    gap:20px;
}

.first_section-up{
    max-height:70vh;
    min-width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    /*margin-top: 30px;*/
    /*margin-bottom: 300px;*/
}

.first_section-up>div{
    /* margin: 16px; */
}

.first_section_up-text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    color: #fff;
    /*max-height:80vh;*/ 
}

.first_section_up-text>div{
    margin: 8px 0; /*change to 8px 0*/ /*10px 0*/
}

.first_section_up_text-title{
    font-size:25px;/* change to 18px*/ /*30*/
    font-weight: 600;
}

.first_section_up_text-subTitle{
    font-size: 18px; /*change to 13px*/ /*20*/
    font-weight: 300;
}


.first_section_up_text-button>button{
    padding: 15px 20px; /*change to 13px 20px*/  /*15px 20px*/
    outline: none;
    border: none;
    background: #7D52EB;
    /*color: #fff;*/ 
    font-size: 15px; /*15*/
    font-weight: 500;
    border-radius: 15px;
}

.first_section_up_text-button>button>a{
    color: #fff;
}

.first_section_up-img{
    flex-basis: 250px;
    max-height:45vh; /*change to 30vh*/ /*50vh*/
    flex-grow: 1;
    display: flex;
}

.first_section_up-img>img{
    width: 100%;
    animation-name: scale;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes scale{
    from{
        transform: scale(.9);
    }
    to{
        transform: scale(1.1);
    }

}


.first_section-down{
    /*width: 100vw;*/
    min-width: 100vw;
    min-height: 50vh; /*49*/
    background: url(sources/images/waveS1V2.png);
    background-repeat: no-repeat;
}

@media all and (max-width:820px){

    .first_section_up-text>div{
        margin: 8px 0; 
    }

    .first_section_up_text-title{
        font-size:18px;
    }

    .first_section_up_text-subTitle{
        font-size: 15px; 
    }

    .first_section_up_text-button>button{
        padding: 8px 10px; 
    }

    .first_section_up-img{
        max-height:30vh; 
    }

    .first_section-down{
    min-height: 50vh; /*49*/
    background: url(sources/images/waveS1.png);
    background-repeat: no-repeat;
}

}


/*seccion 2*/


.second_secction_main{
    max-width: 150vw;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    min-width: 320px;
    padding:15px; /*15px*/
    /*background-image: url(sources/images/backSection2.jpg);*/
    background: url(sources/images/BackSection3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.second_section-ilustrator{
    flex-basis: 50%; /*50*/
    flex-grow: 1;
}

.second_section-ilustrator>img{
    max-width: 80%;
    min-width: 265px;
    margin: 20px 5px;
    /*max-height: 90%; */
}


.second_secction-text{
    flex-basis: 50%; /*50%*/
    /*height: 100vh;*/
    flex-grow: 1;
}

.second_secction_text-title{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    padding: 20px;
}

.titleS2{
   /* background: #504548;
    border-radius: 20px;*/
    color: #edf2df;
    padding: 10px;
    display: inline-block;
}


.second_secction_text-subTitle{
    font-size: 35px;
    font-weight: 300;
    color: #ecf0dc;
}

.second_secction_text-button{
    display: flex;
    justify-content: end;
    padding: 20px;
    color: #000;
}

.second_secction_text-button>button{
    padding: 20px 25px;
    border: none;
    outline: none;
    background: #D6DACE;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
}


.second_secction_text-button>button>a{
    color: #000;
}

@media all and (max-width: 700px){ /*tablet Responsive*/

    .second_secction_text-title{
        font-size: 30px;
    }

    .second_secction_text-subTitle{
        font-size: 20px;
        color: #000;
    }

    .second_secction_text-button>button{
        padding: 18px 20px;
        background: #D6DACE;
        border-radius: 15px;
        font-size: 15px;
    }

    /*third_section*/

}


.third_secction_main{
    max-width: 100vw;
    min-width: 320px;
    min-height: 105vh;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.third_secction_main-up{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    column-gap: 10px;
}

.third_secction_main-left{
    flex-basis: 50%;
    flex-grow: 1;
}


.third_secction_main_left-title{
    font-size: 35px;
    font-weight: 600;
    /*background: #002868;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;*/
    color: #000;
    margin-bottom:20px;
}

.third_secction_main_left-paragraph{
    font-size: 30px;
    font-weight: 300; 
    color: #000;
}


.third_secction_main-right{
    flex-basis: 45%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.third_secction_main_right-ilustrator{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    margin: 15px 30px; /*20 30*/
}

.third_secction_main_right-ilustrator>img{
    max-width: 100%;
    min-width: 190px;
}

.third_secction_main-bottom{
    margin: 10px 5px;
    display: flex;
    color: #000;
    display: flex;
    max-height: 40vh;
    flex-wrap: wrap;
}

.third_secction_main_bottom-paragraph{
    font-size: 30px;
    font-weight: 300 !important;
    flex-grow: 1;
    flex-basis: 100%;
}

@media all and (max-width: 768px) {  /*Responsive*/

    .third_secction_main_left-title{
        font-size: 30px;
        font-weight: 600;
        color: #000;
    }

    .third_secction_main_left-paragraph{
        font-size: 25px;
        font-weight: 300; 
        color: #fff;
    }

    .third_secction_main_bottom-paragraph{
        font-size: 20px;
        color: #fff;
    }


}







/*.third_secction_main_bottom-rocket{
    flex-basis: 30%;
    flex-grow: 1;
    animation-name: despegue;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: paused; 
}

.third_secction_main_bottom-rocket>img{
    max-width: 100%;
    min-width: 100%;
    max-height: 85%;
    transform: rotate(-90deg);
}

@keyframes despegue{

    0%{
        transform: translateY(0px);
    }

    30%{
        
        transform: translateY(-200px);

    }

    70%{
        transform: translateX(-400px);
    }



    100%{
        transform: translateY(-1000px);
        visibility: hidden;
    }
 };*/






